/*-----------------MAIN----------------*/

.main{
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    top: 115px;
    left: 0;
    height: 100vh;
}   

.main__text{
    text-align: center;
    height: 935px;
    margin: auto;
    padding: 20px;
}

.main__welcome{
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:60px;
}

.main__start-button{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "Oswald", sans-serif;
    font-size:60px;
}

.button{
    text-decoration: none;
    color: rgb(44, 44, 44);
    padding: 30px;
    transition: 0.4s ease-in-out;
    background-color: rgb(207, 206, 206);
    border-radius: 40px;
}

/*-----------------MAIN----------------*/